body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: whitesmoke;
    padding: 18px;
}
.left {
    display: flex;
    gap: 8px;
    padding: 0;
}
.right {
    display: flex;
    gap: 8px;
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: whitesmoke;
}