body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 24px;
}
.left {
    display: flex;
    padding: 0;
}
.right {
    display: flex;
    gap: 12px;
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 18px;
}
main {
    background-color: #1f2937;
    color: #f9faf8;
    padding-top: 50px;
    padding-bottom: 50px;
}
.content {
    display: flex;
    justify-content: center;
    margin: 0;
    flex-direction: column;
    text-wrap: wrap;
    flex: 1;

}
.main-image {
    display: flex;
    align-items: center;
    margin: 0;
    flex: 1;
}
.main-button {
    flex-shrink: 2;
    background-color: #3882f6;
    border: none;
    border-radius: 6px;
    width: 20%;
    height: 10%;
    color: #f9faf8;
    font-weight: 800;
}
.cool-picture {
    width: 100%;
    height: 95%;
}
h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
    padding: 0;
}
main p {
    font-size: 18px;
    color: #f9faf8;
    padding: 0 0 20px 0;
    margin: 0;
}
.logo-text {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}
.card {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 12px;
}
h2 {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
.info-container {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding-bottom: 72px;
}
.cardset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardset p {
    text-align: center;
    padding: 0;
    margin: 0;
    max-width: 160px;
}
.quote {
    background-color: #e5e7eb;
    padding: 64px;
    display: flex;
    justify-content: center;
}
blockquote {
    max-width: 720px;
}
blockquote p {
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    margin: 0;
}
blockquote cite {
    display: block;
    font-size: 21px;
    font-weight: 700;
    text-align: end;
}